@page "/categories"
@inject CategoryManager CategoryManager
@inject IDialogService DialogService
@using BlazorServerTest.Core.Models.Categories
@using BlazorServerTest.Core.Business
@inherits LayoutComponentBase

<PageTitle>Categories</PageTitle>

<h1>Categories</h1>

<p>This component demonstrates fetching data from a repository.</p>
<MudFab OnClick="@((e) => CreateCategory())" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" Label="Add new item" Size="Size.Small" Class="mb-3 me-2" />
<MudFab OnClick="@((e) => SeedTestCategories())" Color="Color.Success" StartIcon="@Icons.Material.Filled.List" Label="Add test data" Size="Size.Small" Class="mb-3" />

<MudTable ServerData="@(new Func<TableState, Task<TableData<CategoryResponse>>>(ServerReload))"
          Dense="true" Hover="true" Striped="true" Bordered="true" @ref="table">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Categories</MudText>
        <MudSpacer/>
        <MudIconButton Class="mt-4 me-4" OnClick="@(x => OnSearch(string.Empty))" Icon="@Icons.Material.Outlined.Clear" Color="Color.Error" Size="Size.Medium"/>
        <MudTextField T="string" Value="searchString" ValueChanged="@(s => OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="@nameof(CategoryResponse.Id).ToLower()" T="CategoryResponse">@nameof(CategoryResponse.Id)</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="@nameof(CategoryResponse.Name).ToLower()" T="CategoryResponse">@nameof(CategoryResponse.Name)</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="@nameof(CategoryResponse.Description).ToLower()" T="CategoryResponse">@nameof(CategoryResponse.Description)</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="@nameof(CategoryResponse.Quantity).ToLower()" T="CategoryResponse">Quantity</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Description">@context.Description</MudTd>
        <MudTd DataLabel="Quantity">@context.Quantity</MudTd>
        <MudTd Class="d-flex justify-center">
            <MudIconButton OnClick="@((e) => ViewCategory(context.Id))" Icon="@Icons.Material.Filled.ViewList" Color="Color.Primary" Size="Size.Small"/>
            <MudIconButton OnClick="@((e) => UpdateCategory(context.Id))" Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" Size="Size.Small"/>
            <MudIconButton OnClick="@((e) => DeleteCategory(context.Id))" Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small"/>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager/>
    </PagerContent>
</MudTable>

@code {
    private TableData<CategoryResponse> data;
    private MudTable<CategoryResponse> table;

    private int totalItems;
    private string searchString = null;

    private void OnSearch(string text)
    {
        searchString = text;
        table.ReloadServerData();
    }

    private async Task<TableData<CategoryResponse>> ServerReload(TableState state)
    {
        var request = new CategoryRequest()
        {
            Name = searchString,
            Page = state.Page + 1, //MudBlazor count first page as 0
            PageSize = state.PageSize,
            OrderBy = $"{state.SortLabel}:{state.SortDirection}",
        };

        var response = await CategoryManager.GetCategoriesAsync(request, CancellationToken.None);

        return new TableData<CategoryResponse>()
        {
            Items = response.Items,
            TotalItems = response.Total
        };
    }

    private async Task ViewCategory(long id)
    {
        var category = await CategoryManager.GetCategoryDetailAsync(id, CancellationToken.None);
        var parameters = new DialogParameters { ["ViewModel"] = category };

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Medium };

        var dialog = await DialogService.ShowAsync<ViewCategory_Modal<CategoryResponse>>("View Category", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await table.ReloadServerData();
        }
    }

    private async Task CreateCategory()
    {
        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialog = await DialogService.ShowAsync<DialogAddOrUpdateCategory_Dialog>("Create new Category", options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await table.ReloadServerData();
        }
    }

    private async Task SeedTestCategories()
    {
        await CategoryManager.SeedTestCategoriesAsync(10, CancellationToken.None);
        await table.ReloadServerData();
    }

    private async Task UpdateCategory(long id)
    {
        var category = await CategoryManager.GetCategoryDetailAsync(id, CancellationToken.None);
        var parameters = new DialogParameters { ["item"] = category };

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Medium };

        var dialog = await DialogService.ShowAsync<DialogAddOrUpdateCategory_Dialog>("Update Category", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await table.ReloadServerData();
        }
    }

    private async Task DeleteCategory(long id)
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Do you really want to delete these records? This process cannot be undone.");
        parameters.Add("ButtonText", "Delete");
        parameters.Add("Color", Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialog = await DialogService.ShowAsync<DialogTemplateExample_Dialog>("Delete", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await CategoryManager.DeleteCategoryAsync(id, CancellationToken.None);
            await table.ReloadServerData();
        }
    }
}
