@page "/datatablesTest"
@using BlazorServerTest.BLL.Services
@using BlazorServerTest.BLL.Models
@inject RecipeService RecipeService
@inject IJSRuntime JS

<DataTable>
	<thead>
	<tr>
        <th>@nameof(RecipeModel.Id)</th>
        <th>@nameof(RecipeModel.Name)</th>
        <th>@nameof(RecipeModel.Description)</th>
        <th>@nameof(RecipeModel.CookTime)</th>
        <th>@nameof(RecipeModel.PrepTime)</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var recipe in recipes)
	{
		<tr>
            <td>@recipe.Id</td>
            <td>@recipe.Name</td>
            <td>@recipe.Description</td>
            <td>@recipe.CookTime</td>
                <td>@recipe.PrepTime</td>
            <td><ConfirmModalComponent ButtonText="❌" Message="Do you rale want to delete?" Id="@recipe.Id" OnYes="@DeleteHandler" /></td>
		</tr>
	}
	</tbody>
</DataTable>

@code {
    private List<RecipeModel> recipes;

    protected override async  Task OnInitializedAsync()
    {
        recipes = (await RecipeService.GetForecastAsync(String.Empty)).ToList();

    }

    private async Task DeleteHandler(int id)
    {
        await RecipeService.Delete(id);
        recipes = (await RecipeService.GetForecastAsync(String.Empty)).ToList();
        StateHasChanged();
    }
	/*
    public void Dispose()
    {
        JS.InvokeAsync<IJSObjectReference>("DataTablesRemove", "#example");
    }*/
}