@page "/fetchdatamud"
@using BlazorServerTest.Core.Data.Repositories
@using BlazorServerTest.Core.Models
@using BlazorServerTest.Services
@using Microsoft.AspNetCore.Components
@inject RecipeViewService RecipeService
@inject RecipeRepository RecipeRepository
@inject IDialogService DialogService
@inherits LayoutComponentBase

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a repository.</p>
<MudFab OnClick="@((e) => CreateRecipe())" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" Label="Add new item" Size="Size.Small" Class="mb-3"/>

<MudTable ServerData="@(new Func<TableState, Task<TableData<RecipeViewModel>>>(ServerReload))"
          Dense="true" Hover="true" Striped="true" Bordered="true" @ref="table">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Periodic Elements</MudText>
        <MudSpacer />
        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="nr_field" T="RecipeViewModel">Nr</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="sign_field" T="RecipeViewModel">Description</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="name_field" T="RecipeViewModel">Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="position_field" T="RecipeViewModel">Categories</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nr">@context.Id</MudTd>
        <MudTd DataLabel="Sign">@context.Description</MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Position">
            @foreach (var category in context.Categories)
            {
                <MudChip Style="font-size: 8px; max-height: 12px">@category.Name</MudChip>
            }
        </MudTd>
        <MudTd Class="d-flex justify-center">
            <MudIconButton OnClick="@((e) => UpdateRecipe(context.Id))" Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" Size="Size.Small" />
            <MudIconButton OnClick="@((e) => DeleteRecipe(context.Id))" Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small" />
            <!--
            <MudFab OnClick="@((e) => UpdateRecipe(context.Id))" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Edit" Size="Size.Small"/>
            <MudFab OnClick="@((e) => DeleteRecipe(context.Id))" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" Size="Size.Small" DisableElevation="true"/>
            -->
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@code {
    private TableData<RecipeViewModel> data;
    private MudTable<RecipeViewModel> table;

    private int totalItems;
	private string searchString = null;
    /*
    protected override async Task OnInitializedAsync()
    {
        data = await RecipeRepository.LoadTable();
    }
    */
    private async Task<TableData<RecipeViewModel>> ServerReload(TableState state)
    {
        return await RecipeService.LoadTable(state, searchString);
    }

    private async Task DeleteRecipe(int id)
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Do you really want to delete these records? This process cannot be undone.");
        parameters.Add("ButtonText", "Delete");
        parameters.Add("Color", Color.Error);

        var options = new DialogOptions() {CloseButton = true, MaxWidth = MaxWidth.ExtraSmall};

        var dialog = await DialogService.ShowAsync<DialogTemplateExample_Dialog>("Delete", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await RecipeRepository.Delete(id);
            await table.ReloadServerData();
        }
    }

    private async Task CreateRecipe()
    {
        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialog = await DialogService.ShowAsync<DialogAddOrUpdate_Dialog>("Create new Recipe", options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await table.ReloadServerData();
        }
    }

    private async Task UpdateRecipe(int id)
    {
        var recipe = await RecipeRepository.Get(id, x =>x.Categories);
        var parameters = new DialogParameters { ["recipe"] = recipe };

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Medium };

        var dialog = await DialogService.ShowAsync<DialogAddOrUpdate_Dialog>("Update Recipe", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await table.ReloadServerData();
        }
    }

    private void OnSearch(string text)
    {
        searchString = text;
        table.ReloadServerData();
    }
}
